# fly.toml app configuration file generated for geohunt-server on 2025-10-14T18:10:36+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "geohunt-server"
primary_region = "iad"

[experimental]
  auto_rollback = true

[env]
  NODE_ENV = "production"
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[statics]]
  guest_path = "/public"
  url_prefix = "/public/"









